body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-weight: 400;
    line-height: 1.42857143;
    letter-spacing: 0;
}