.tox .tox-tbtn svg,
.tox .tox-collection__item-checkmark svg,
.tox .tox-collection__item-icon svg  {
	display: block;
    fill: var(--ds-icon, rgb(66, 82, 110)) !important;
}
.tox .tox-toolbar__primary, 
.tox .tox-editor-header,
.tox .tox-menu,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__group
 {
	background-color: var(--ds-surface-overlay, white) !important;
}
.tox .tox-tbtn--enabled,
.tox .tox-tbtn:active,
.tox .tox-collection--list .tox-collection__item--active {
	background-color: var(--ds-background-selected, #cce2fa) !important;
}
.tox .tox-tbtn:hover,
.tox .tox-tbtn:focus {
	background-color: var(--ds-background-neutral-subtle-hovered, rgba(9, 30, 66, 0.06)) !important;
}
.tox .tox-edit-area__iframe {
	background-color: var(--ds-background-input, white) !important;
}
.tox .tox-tbtn--bespoke {
	background-color: var(--ds-background-input, white) !important;
}
.tox-tinymce {
	border-radius: 3px !important;
	border-color: var(--ds-border, #DFE1E6) !important;
}
.tox .tox-collection__item-label,
.tox .tox-tbtn__select-label {
	color : var(--ds-text, #172B4D) !important;
}
.tox .tox-dialog__footer,
.tox .tox-dialog__header,
.tox .tox-dialog {
	background-color: var(--ds-surface,#f5f5f5) !important;
	color : var(--ds-text, #172B4D) !important;
}
.tox .tox-textfield,
.tox .tox-textfield:focus {
	background-color: var(--ds-background-input, #F4F5F7) !important;
	color: var(--ds-text, #172B4D) !important;
}
.tox .tox-dialog__body-nav-item {
	color : var(--ds-text, #172B4D) !important;
}
.tox .tox-dialog__body-nav-item--active {
	color: var(--ds-text-selected, #0052CC) !important;
	border-color: var(--ds-border-selected, #0052CC) !important;
}