<table class="aui">
	<tr>
		<th th:text="#{simple-cite-cloud.listing.citeID.th}"></th>
		<th th:text="#{simple-cite-cloud.listing.cite.th}"></th>
	</tr>
	<th:block th:each='cite: ${cites}'>
		<tr>
			<td th:text='${cite.getString("citeID")}'></td>
			<td th:text='${cite.getString("cite")}'></td>
		</tr>
	</th:block>
</table>