<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
 		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aui/9.7.1/aui/aui-prototyping.min.css" integrity="sha512-MPdTbbdXvlcVvBY608oiSljIMnLgNiOb1Zi1j1kUoYUtrYRmFhqzZU2V2hmibBnnfnM5+/kTi9186cL1N9cgcw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   		<script src="//connect-cdn.atl-paas.net/all.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/aui/9.7.1/aui/aui-prototyping.min.js" integrity="sha512-kLBpVZfZ2PI4b9hmpRZ7TiASn76dV4t0FPSjbchBc1lt+JJsUVHLAMG1kPR0LPhWgQpfd7ea85GaqFTXhQLCyg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script th:src="@{/js/simple-cite-editor.js}" type="text/javascript" defer></script>
		<script th:src="@{/js/apiV2Helper.js}" type="text/javascript"></script>
		<script th:src="@{/js/theme.js}" type="text/javascript" defer></script>
		<script th:src="@{/js/simple-cite-processor.js}" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.2/tinymce.min.js" integrity="sha512-6JR4bbn8rCKvrkdoTJd/VFyXAN4CE9XMtgykPWgKiHjou56YDJxWsi90hAeMTYxNwUnKSQu9JPc3SQUg+aGCHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link rel="stylesheet" th:href="@{/css/tox.css}" media="all"/>
    </head>
	
    <body style="background-color:transparent">
    	<form class="aui">
			<fieldset id="paramFields">
				<div class="field-group" id="importFromGroup" style="display:none">
					<label for="importFrom" th:text="#{simple-cite-cloud.param.importFrom.title}">importFrom</label>
					<input class="text full-width-field" id="importFrom" type="text" name="importFrom"/>
					<div class="description" th:text="#{simple-cite-cloud.param.importFrom.desc}">importFrom description</div>					
				</div>
				<div class="field-group" id="bibTeXFileGroup" style="display:none">
					<label for="attachment" th:text="#{simple-cite-cloud.param.attachment.title}">bib-file</label>
					<input class="text full-width-field" id="attachment" type="text" name="attachment" style="max-width:392px"/>
					<button th:title="#{simple-cite-cloud.param.attachment.toggle}" id="switch" type="button" class="aui-button" style="vertical-align:bottom">
						<span class="aui-icon aui-icon-small aui-iconfont-switch-small"></span>
					</button>
					<div class="description" th:text="#{simple-cite-cloud.param.attachment.desc}">bib-file description</div>					
				</div>
				<div class="field-group" id="idGroup">
					<th:block th:if="${!caller.equals('single-cite-import') && !caller.equals('bibtex-cite') && !caller.equals('short-cite')}">
						<label for="citeID" th:text="#{simple-cite-cloud.param.citeID.title}" th:unless="${caller.equals('doi-cite')}">citeID</label>
						<label for="citeID" th:text="#{simple-cite-cloud.param.doiID.title}" th:if="${caller.equals('doi-cite')}">citeID</label>
						<input class="text full-width-field" id="citeID" type="text" name="citeID"/>
						<div class="description" th:text="#{simple-cite-cloud.param.citeID.desc}" th:unless="${caller.equals('doi-cite')}">citeID description</div>		
						<div class="description" th:text="#{simple-cite-cloud.param.doiID.desc}" th:if="${caller.equals('doi-cite')}">doiID description</div>
					</th:block>
					<th:block th:if="${caller.equals('single-cite-import') || caller.equals('bibtex-cite')}">
						<label for="citeID" th:text="#{simple-cite-cloud.param.citeID.title}">citeID</label>
						<select class="select full-width-field" id="citeID" name="citeID"></select>
						<div class="description" th:text="#{simple-cite-cloud.param.citeID.desc}">citeID description</div>
					</th:block>
					<th:block th:if="${caller.equals('short-cite')}">
						<label for="citeID" th:text="#{simple-cite-cloud.param.citeID.title}">citeID</label>
						<select class="select full-width-field" id="citeID" name="citeID" style="max-width:392px"></select>
						<button th:title="#{simple-cite-cloud.param.reload}" id="reload" type="button" class="aui-button" style="vertical-align:bottom">
							<span class="aui-icon aui-icon-small aui-iconfont-refresh" role="img"/>
						</button>
						<div class="description" th:text="#{simple-cite-cloud.param.citeID.desc}">citeID description</div>
					</th:block>
				</div>
				<div class="field-group" id="plainGroup" style="display:none">
					<label for="citeText" th:text="#{simple-cite-cloud.param.citeText.title}">citeText</label>
					<textarea class="textarea full-width-field" id="citeText" name="citeText" rows="5"></textarea>
					<div class="description" th:text="#{simple-cite-cloud.param.citeText.desc}">citeText description</div>					
				</div>
				<div class="field-group" id="dBibTeXGroup" style="display:none">
					<label for="dBibTeX" th:text="#{simple-cite-cloud.param.dBibTeX.title}">dBibTeX</label>
					<textarea class="textarea full-width-field" id="dBibTeX" name="dBibTeX" rows="5"></textarea>
					<div class="description" th:text="#{simple-cite-cloud.param.dBibTeX.desc}">dBibTeX description</div>					
				</div>
				<div class="field-group" id="pageNumbersGroup">
					<label for="pageNumbers" th:text="#{simple-cite-cloud.param.pageNumbers.title}">pageNumbers</label>
					<input class="text full-width-field" id="pageNumbers" type="text" name="pageNumbers"/>
					<div class="description" th:text="#{simple-cite-cloud.param.pageNumbers.desc}">pageNumbers description</div>					
				</div>
				<div class="field-group" id="styleGroup" style="display:none">
					<label for="style" th:text="#{simple-cite-cloud.param.style.title}">style</label>
					<input class="text full-width-field" id="style" type="text" name="style"/>
					<div class="description" th:text="#{simple-cite-cloud.param.style.desc}">style description</div>					
				</div>
				<div class="field-group" id="addLinkTypeGroup" style="display:none">
					<label for="addLinkType" th:text="#{simple-cite-cloud.param.addLinkType.title}">addLinkType</label>
					<select class="select" id="addLinkType" name="addLinkType">
						<option th:text="#{simple-cite-cloud.param.addLinkType.none}">none</option>
						<option th:text="#{simple-cite-cloud.param.addLinkType.confluence}">confluence</option>
						<option th:text="#{simple-cite-cloud.param.addLinkType.external}">external</option>
						<option th:text="#{simple-cite-cloud.param.addLinkType.doi}" th:disabled="!${caller.equals('doi-cite')}">doi</option>
						<option th:text="#{simple-cite-cloud.param.addLinkType.bibtex}" th:disabled="!${caller.equals('bibtex-cite')}">bibtex</option>
					</select>
				</div>
				<div class="field-group" id="addLinkExternalGroup" style="display:none">
					<label for="addLinkExternal" th:text="#{simple-cite-cloud.param.addLink.external.title}">addLinkExternal</label>
					<input class="text full-width-field" id="addLinkExternal" type="text" name="addLinkExternal" placeholder="http://www.example.com"/>
				</div>
				<div class="field-group" id="addLinkConfluenceGroup" style="display:none">
					<label for="addLinkConfluence" th:text="#{simple-cite-cloud.param.addLink.confluence.title}">addLinkConfluence</label>
					<input class="text full-width-field" id="addLinkConfluence" type="text" name="addLinkConfluence"></input>
				</div>
				<fieldset class="group" id="optionsGroup">
					<legend th:text="#{simple-cite-cloud.editor.options}">Options</legend>
					<div class="checkbox">
						<label for="superscript" th:text="#{simple-cite-cloud.param.superscript.title}">pageNumbers</label>
						<input class="checkbox" id="superscript" type="checkbox" name="superscript"/>							
					</div>
					<div class="checkbox" id="cslStyleReferenceGroup" style="display:none">
						<label for="cslReference" th:text="#{simple-cite-cloud.param.cslReference.title}">cslReference</label>
						<input class="checkbox" id="cslReference" type="checkbox" name="cslReference"/>							
					</div>
					<div class="checkbox" id="bibOutputGroup" style="display:none">
						<label for="bibOutput" th:text="#{simple-cite-cloud.param.bibOutput.title}">bibOutput</label>
						<input class="checkbox" id="bibOutput" type="checkbox" name="bibOutput"/>							
					</div>
				</fieldset>
			</fieldset>
		</form>
		<div class="field-group" id="spinnerGroup" style="margin-top:10px;display:none">
			<span th:text="#{simple-cite-cloud.message.cite.loading}">getting cite</span>
			<aui-spinner size="small" style="display:inline-block;"></aui-spinner>
		</div>
		<div class="field-group" id="errorGroup"  style="margin-top:10px;display:none;color:var(--ds-text-danger,red)">
			[[#{simple-cite-cloud.message.citation.failed}]] 
			<span id="errorDetails"></span>	
		</div>
		<div style="position:fixed;bottom:10px;right:10px">
			<a href="https://purde-software.atlassian.net/wiki/x/AQCMqQ" target="_blank">
				<span class="aui-icon aui-icon-small aui-iconfont-help">Help</span>
			</a>
		</div>
		
		<div id="messagesMore" style="display:none" th:data-base-url="${baseUrl}" th:data-caller="${caller}">
			<div id="importFromPlaceholder" th:text="#{simple-cite-cloud.message.importFromPlaceholder}"></div>
			<div id="attPlaceholder" th:text="#{simple-cite-cloud.message.attPlaceholder}"></div>
			<div id="confluenceContentPlaceholder" th:text="#{simple-cite-cloud.message.confluenceContentPlaceholder}"></div>
			<div id="linkPlaceholder" th:text="#{simple-cite-cloud.message.linkPlaceholder}"></div>	
			<div id="gettingContent" th:text="#{simple-cite-cloud.message.gettingContent}"></div>
			<div id="pleaseSelect" th:text="#{simple-cite-cloud.message.pleaseSelect}"></div>
			<div id="plainCiteTooLong" th:text="#{simple-cite-cloud.message.plainCiteTooLong}"></div>		
		</div>
	</body>
</html>