<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
 		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aui/9.7.1/aui/aui-prototyping.min.css" integrity="sha512-MPdTbbdXvlcVvBY608oiSljIMnLgNiOb1Zi1j1kUoYUtrYRmFhqzZU2V2hmibBnnfnM5+/kTi9186cL1N9cgcw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    	<link rel="stylesheet" th:href="@{/css/migration.css}" media="all"/>    	
   		<script src="//connect-cdn.atl-paas.net/all.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/aui/9.7.1/aui/aui-prototyping.min.js" integrity="sha512-kLBpVZfZ2PI4b9hmpRZ7TiASn76dV4t0FPSjbchBc1lt+JJsUVHLAMG1kPR0LPhWgQpfd7ea85GaqFTXhQLCyg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script th:src="@{/js/simple-cite-processor.js}" type="text/javascript"></script>
		<script th:src="@{/js/migration.js}" type="text/javascript" defer></script>
		<script th:src="@{/js/theme.js}" type="text/javascript" defer></script>
		<script th:src="@{/js/apiV2Helper.js}" type="text/javascript"></script>
    </head>
	
	 <body style="background-color:transparent;overflow:hidden">
		<div class="ac-content">
			<div id="simple-cite-migration-container">
				<h1 th:text="#{simple-cite-cloud.migration.title}"></h1>
				<h3 th:text="#{simple-cite-cloud.migration.control}">Control</h3>
				<form id="migration-form" class="aui top-label">
					<div class="field-group">
						<label for="spaces" th:text="#{simple-cite-cloud.migration.spaces.title}"></label>
						<input class="text long-field" type="text" id="spaces" name="spaces"></input>
						<div class="description" th:text="#{simple-cite-cloud.migration.spaces.desc}"></div>
					</div>
					<button class="aui-button" type="button" id="simulate" th:text="#{simple-cite-cloud.migration.simulate}">Simulate only</button>
					<button class="aui-button" type="button" id="migrate" th:text="#{simple-cite-cloud.migration.execute}">Migrate</button>
					<aui-spinner id="migration-spinner" size="medium" style="display:none"></aui-spinner>
				</form>
				<h3 th:text="#{simple-cite-cloud.migration.results}">Results</h3>
				<div id="results"></div>
			</div>			
		</div>
	</body>
</html>
